@model ClaseCasa.Models.CasaModel

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar una Casa</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NodeRejas" class="control-label"></label>
                <input asp-for="NodeRejas" class="form-control" />
                <span asp-validation-for="NodeRejas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TieneJardin" /> @Html.DisplayNameFor(model => model.TieneJardin)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TienePorche" /> @Html.DisplayNameFor(model => model.TienePorche)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TienePiscina" /> @Html.DisplayNameFor(model => model.TienePiscina)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input type="color"  asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista de Casas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
